extends layout

block head 
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")
    link(rel="stylesheet", href="/styles/general.css")
    //- estilos del para el quill
    link(href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    //- estilos de alertas
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css")

block header 
    include templates/header.pug

block content 
    .text-center.cont-todo.mt-5.width-90
        .row
            .col 
                .bg-bienvenido.fw-bold.p-4
                    .card-body
                        .fecha.mt-3.d-flex.gap-3.mb-3.align-items-center.flex-column
                            h3.car-title Paciente: #{turno[0].nombre_paciente} #{turno[0].apellido_paciente}
                            div#fecha Turno del: 11/11/2022
                        .d-flex.justify-content-center.align-items-center.text-center.gap-3
                            h4.card-title Motivo: #{turno[0].motivo_consulta}
                        a(href="/turnos/HCE"+turno[0].dni_paciente target="_blank").btn.btn-HCE-invertido.mt-3.fw-semibold Ver historial

                //- -------------------------- OBLIGATORIOS ----------------------- 
        .color-primario-bg.d-flex.flex-column.align-items-start.p-5.gap-4.border-bottom.border-dark.text-light.capturarValorDiagnostico
            h3 Diagnostico (obligatorio)
            .d-flex.gap-2
                label Estado: 
                select.select-diagnostico
                    option Preliminar 
                    option Confirmado
            label.text-center Detalles: 
            textarea.txt-area-create.text-left.txt-area-diagnostico
            button(onclick="otroDiagnositoc()").btn.btn-agregar-daignostico.fw-semibold Agregar otro

        #nuevo-diagnostico

        .d-flex.flex-column.align-items-start.p-5.gap-4.border-bottom.border-dark.color-primario-bg
            h3.text-light Evolucion (obligatorio)
            label.text-light Seleccione su template: 
                select#selectTemplates 
                    option(selected value="") seleccione uno
            #editor.width-90.text-left.bg-light.text-dark

            //- -------------------------- OPCIONALES -----------------------

        h2.text-center.p-4.color-primario-txt.fw-bold.bg-light.mb-0 Opcionales
        
        //- -------------------------- MEDICAMENTOS -------------------------
        .d-flex.flex-column
            .bg-opcionales.d-flex.flex-column.align-items-start.p-3.gap-4.capturarValorMedicamento
                h3(onclick="toggleContent('ampliarMedicamento')").text-center.d-flex.align-items-center.cont-flecha-abrir Medicamentos
                    span(class="material-symbols-outlined").flecha-abrir stat_minus_1
                .contenido-oculto.w-100.p-0#ampliarMedicamento
                    .d-flex.flex-column.align-items-start.gap-4.animacion
                        .d-flex.gap-2
                            label Seleccione medicamento: 
                            select#selectMedicamento.select-medicamento
                                option(selected value="") seleccione uno
                        label Receta: 
                        textarea.txt-area-create.text-left.txt-area-medicamento
                        button(onclick="nuevoMedicamento()").btn.btn-HCE.fw-semibold Agregar otro
            #nuevo-medicamento

        //- -------------------------- ALERGIAS -------------------------
        
        .bg-opcionales.d-flex.flex-column.align-items-start.p-3.gap-4.capturarValorAlergias
            h3(onclick="toggleContent('ampliarAlergia')").text-center.d-flex.align-items-center.cont-flecha-abrir Alergias
                span(class="material-symbols-outlined").flecha-abrir stat_minus_1
            .contenido-oculto.w-100.p-0#ampliarAlergia
                .d-flex.flex-column.align-items-start.gap-4.animacion
                    label Nombre: 
                    input(type="text").nombre-alergia
                    label Importancia 
                        select.select-alergia
                            option Leve
                            option Normal
                            option Alta
                    .d-flex.gap-4
                        label Desde: 
                            input(type="date", name="").desde-alergia
                        label Hasta: 
                            input(type="date", name="").hasta-alergia
                    button(onclick="nuevaAlergia()").btn.btn-HCE.fw-semibold Agregar otro
        #nueva-alergia

        //- -------------------------- HABITOS -------------------------
        
        .bg-opcionales.d-flex.flex-column.align-items-start.p-3.gap-4.capturarValorHabitos
            h3(onclick="toggleContent('ampliarHabito')").text-center.d-flex.align-items-center.cont-flecha-abrir  Habitos
                span(class="material-symbols-outlined").flecha-abrir stat_minus_1
            .contenido-oculto.w-100.p-0#ampliarHabito
                .d-flex.flex-column.align-items-start.gap-4.animacion
                    label Detalles: 
                    textarea.txt-area-create.text-left.texto-habito
                    .d-flex.gap-4
                        label Desde: 
                            input(type="date", name="").desde-habito
                        label Hasta: 
                            input(type="date", name="").hasta-habito
                    button(onclick="nuevoHabito()").btn.btn-HCE.fw-semibold Agregar otro
        #nuevo-habito

            //- -------------------------- ANTECEDENTES -------------------------
        
        .bg-opcionales.d-flex.flex-column.align-items-start.p-3.gap-4.capturarValorAntecedente
            h3(onclick="toggleContent('ampliarAntecedente')").text-center.d-flex.align-items-center.cont-flecha-abrir  Antecedentes
                div(class="material-symbols-outlined").flecha-abrir stat_minus_1
            .contenido-oculto.w-100.p-0#ampliarAntecedente
                .d-flex.flex-column.align-items-start.gap-4.animacion
                    label Detalles: 
                    textarea.txt-area-create.text-left.texto-antecedente
                    .d-flex.gap-4
                        label Desde: 
                            input(type="date", name="").desde-antecedente
                        label Hasta: 
                            input(type="date", name="").hasta-antecedente
                    button(onclick="nuevoAntecedente()").btn.btn-HCE.fw-semibold Agregar otro
        #nuevo-antecedente

            //- boton flotanter ----------------------
    .text-center.mt-3.mb-5
        button(onclick="guardarHistorial()").btn.btn-success.btn-float.sombra-btn-guardar Finalizar Consulta
    //- script de quill
    script(src='https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js')

    script.
        //-const numero = !{JSON.stringify(turno.numero_turno)};
        //-const laTemplate = !{JSON.stringify(template)};
        const medicamentos = !{JSON.stringify(medicamentos)};
        let turnazo = !{JSON.stringify(turno)};

    //- script de estilos de alerts
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")

    //- muy importante el orden, jquery primero, toastr despues y ultimo el js nuestro

    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js") 
    
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 

    script(src='/js/createHCE.js') 
    