
extends layout

block head 
    link(rel="stylesheet", href="/styles/general.css")

block header 
    include templates/header.pug

block content
    
    .container-fluid.cont-todo.width-90
        if  flag
            .text-center.cont-todo.mt-5
                .row.g-3 
                    .col-12.col-md-12
                        .card.w-100 
                            .card-body
                                h3.card-title.fs-2.text-center.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/paciente.png", alt="").img-fluid
                                    |Paciente: #{turno.nombre_paciente+" "+turno.apellido_paciente}
                                div.text-center.fs-3.fw-semibold.mb-4.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/doctor.png", alt="").img-fluid
                                    |Doc: #{turno.nombre_medico+" "+turno.apellido_medico} 
                                .d-flex.justify-content-center.align-items-center.gap-4
                                    div Atenciones:
                                    select.btn.btn-info.dropdown-toggle#selectTurnos
                            .card-body
                                h4.card-title Motivo 
                                p.card-text.mb-3 
                                    |#{turno.motivo_consulta} 
                                    

            .row.g-3.mt-5
                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/diagnostico.png", alt="").img-fluid
                        | Diagnostico 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Estado: #{turno.estado_diagnostico} 
                            p.card-text.fst-italic Detalles: #{turno.diagnostico || "No hay diagnostico previo"}

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/evolucion.png", alt="")
                        | Evolucion 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Detalles: #{turno.evolucion || "No hay evolucion previa"}

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/medicamentos.png", alt="")
                        | Medicamentos 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic #{turno.nombre_medicamento || "No se se recetaron medicamentos"}

            .row.g-3.mt-5
                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/antecedentes.png", alt="")
                        | Antecedentes 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Detalles: 
                                | #{turno.antecedente || "No hay antecedentes"} 
                        .card-text.d-flex.justify-content-between.p-2
                            p Desde: #{turno.fecha_desde_antecedente || "No hay registros"}
                            p Hasta: #{turno.fecha_hasta_antecedente || "No hay registros"} 

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/habitos.png", alt="")
                        | Habitos 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Detalles: 
                                | #{turno.habito || "No hay habitos registrados"}
                        .card-text.d-flex.justify-content-between.p-2
                            p Desde: #{turno.fecha_desde_habito || "No hay registros"}
                            p Hasta: #{turno.fecha_hasta_habito || "No hay registros"}

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/alergias.png", alt="")
                        | Alergia 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Nombre: #{turno.nombre_alergia || "No hay alergias"}
                            p.card-text.fst-italic Importancia: 
                                | #{turno.importancia_alergia || "No hay registros"}
                        .card-text.d-flex.justify-content-between.p-2
                            p Desde: #{turno.fecha_desde_alergia || "No hay registros"} 
                            p Hasta: #{turno.fecha_hasta_alergia || "No hay registros"} 
            
            .text-center.mt-3.p-3.d-flex.gap-3.justify-content-center
                a(href="/pag4crear" target="_blank").btn.btn-light.btn-lg Nuevo
                a(href="/#" target="_blank").btn.btn-light.btn-lg Editar
            #aca 
        else 
            .text-center.cont-todo.mt-5.width-90
                .row.g-3 
                    .col-12.col-md-12
                        .card.w-100 
                            .card-body
                                h3.card-title.fs-2.text-center.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/paciente.png", alt="").img-fluid
                                    |Paciente: Juan Perez
                                div.text-center.fs-3.fw-semibold.mb-4.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/doctor.png", alt="").img-fluid
                                    |Doc: Alan Alvarez
                                .d-flex.justify-content-center.align-items-center.gap-4
                                    div Atenciones:
                                    select.btn.btn-info.dropdown-toggle#selectTurnos
                                        
                            .card-body
                                h4.card-title Motivo 
                                p.card-text.mb-3 
                                    |#{turno.motivo_consulta} 

            .row.g-3.mt-5.cont-todo
                .col-12.col-md-12
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/diagnostico.png", alt="").img-fluid
                        | Diagnostico 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4.text-center
                            p.card-text.fst-italic Estado: #{turno.estado_diagnostico} 
                            p.card-text.fst-italic Detalles: #{turno.diagnostico || "No hay diagnostico previo"}
            .text-center.mt-3.p-3.d-flex.gap-3.justify-content-center
                a(href="/pag4crear" target="_blank").btn.btn-light.btn-lg Nuevo
                a(href="/#" target="_blank").btn.btn-light.btn-lg Editar
    script.
        const dni = !{JSON.stringify(turno.dni_paciente)};
    
    script(src='/js/HCECliente.js') 
block footer 
    include templates/footer.pug


