
extends layout

block head 
    link(rel="stylesheet", href="/styles/general.css")

block header 
    include templates/header.pug

block content
    .container-fluid.cont-todo 
        - var flag = true;
        if flag
            .text-center.cont-todo.mt-5
                .row.g-3 
                    .col-12.col-md-12
                        .card.w-100 
                            .card-body
                                h3.card-title.fs-2.text-center.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/paciente.png", alt="").img-fluid
                                    |Paciente: #{turno.nombre_paciente+" "+turno.apellido_paciente}
                                div.text-center.fs-3.fw-semibold.mb-4.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/doctor.png", alt="").img-fluid
                                    |Doc: #{turno.nombre_medico+" "+turno.apellido_medico} 
                                .d-flex.justify-content-center.align-items-center.gap-4
                                    div Atenciones:
                                    select.btn.btn-info.dropdown-toggle
                                        option 01/10/24
                                        option 25/10/24
                                        option 10/11/24
                                        option 01/12/24
                            .card-body
                                h4.card-title Motivo 
                                p.card-text.mb-3 
                                    |#{turno.motivo_consulta} 
                                    

            .row.g-3.mt-5
                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/diagnostico.png", alt="").img-fluid
                        | Diagnostico 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Estado: #{turno.estado_diagnostico} 
                            p.card-text.fst-italic Detalles: #{turno.diagnostico}

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/evolucion.png", alt="")
                        | Evolucion 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            if turno.evolucion
                                p.card-text.fst-italic Detalles: #{turno.evolucion}
                            else
                                p.card-text.fst-italic primera visita

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/medicamentos.png", alt="")
                        | Medicamentos 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic #{turno.nombre_medicamento}
                            

            .row.g-3.mt-5
                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/antecedentes.png", alt="")
                        | Antecedentes 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Detalles: 
                                if turno.antecedente
                                    | #{turno.antecedente} 
                                else
                                    | no hay
                    if turno.fecha_desde_antecedente
                        .card-text.d-flex.justify-content-between.p-2
                            p #{turno.fecha_desde_antecedente}
                            p #{turno.fecha_hasta_antecedente}
                    else
                        .card-text.d-flex.justify-content-between.p-2
                            p 

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/habitos.png", alt="")
                        | Habitos 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            p.card-text.fst-italic Detalles: 
                            if turno.habito
                                | #{turno.habito}
                            else 
                                | sin habitos
                    if turno.fecha_desde_habito
                        .card-text.d-flex.justify-content-between.p-2
                            p Desde #{turno.fecha_desde_habito}
                            p Hasta #{turno.fecha_hasta_habito}
                    else

                .col-12.col-md-4
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/alergias.png", alt="")
                        | Alergia 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4
                            if turno.nombre_alergia
                                p.card-text.fst-italic Nombre: #{turno.nombre_alergia}
                                p.card-text.fst-italic Importancia: 
                                    | #{turno.importancia_alergia}
                            else
                                p.card-text.fst-italic NOHAY
                    if turno.fecha_desde_alergia
                        .card-text.d-flex.justify-content-between.p-2
                            p Desde #{turno.fecha_desde_alergia} 
                            p Hasta #{turno.fecha_hasta_alergia} 

            .text-center.mt-3.p-3
                a(href="/pag4crear" target="_blank").btn.btn-light.btn-lg Nuevo

        else 
            .text-center.cont-todo.mt-5
                .row.g-3 
                    .col-12.col-md-12
                        .card.w-100 
                            .card-body
                                h3.card-title.fs-2.text-center.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/paciente.png", alt="").img-fluid
                                    |Paciente: Juan Perez
                                div.text-center.fs-3.fw-semibold.mb-4.d-flex.align-items-center.justify-content-center.gap-2
                                    img(src="/icons/doctor.png", alt="").img-fluid
                                    |Doc: Alan Alvarez
                                .d-flex.justify-content-center.align-items-center.gap-4
                                    div Atenciones:
                                    select.btn.btn-info.dropdown-toggle
                                        option 01/10/24
                                        option 25/10/24
                                        option 10/11/24
                                        option 01/12/24
                            .card-body
                                h4.card-title Motivo 
                                p.card-text.mb-3 
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates sint eveniet ducimus praesentium mollitia, 
                                    | repellat non facere, deleniti incidunt eum ex corporis veritatis voluptate atque, unde et reprehenderit. Consectetur, ipsa.

            .row.g-3.mt-5.cont-todo
                .col-12.col-md-12
                    h5.card-title.titulos-tar.sombra-titulo.d-flex.justify-content-center.gap-2.fs-3
                        img(src="/icons/diagnostico.png", alt="").img-fluid
                        | Diagnostico 
                    .card.bg-papel.sombra-titulo.w-100
                        .card-body.largo.fs-4.text-center
                            p.card-text.fst-italic Estado: confirmado 
                            p.card-text.fst-italic Detalles: puchitoooooooo
    script.
        const miVariable = !{JSON.stringify(turno)};
    
    script(src='/js/HCECliente.js') 
block footer 
    include templates/footer.pug


